<div class="card">
    <div class="card-body">
        <h3>{{postagem.titulo}}</h3>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small>
        <p class="mt-2">{{postagem.conteudo}}</p>
    </div>
</div>